<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="testA">
	<test name="testClassA">
		<classes>
			<class name="testng.TestDemoFormal"></class>
			<class name="testng.TestSuite"></class>
		</classes>
	</test>
	<test name="testGroupA">
		<groups>
			<run>
				<include name="classGroup"></include>
				<include name="group1"></include>
			</run>
		</groups>
	</test>
</suite>